.main {
    width: 23%;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #fff;
    margin: 1%;
}

.img {
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
    background-color: #541766;
    color: #fff;
}

/* Media Queries */
@media (max-width: 991px) {
    .main {
        font-size: 0.5rem;
    }

    .title {
        font-size: 0.5rem;
        text-decoration: underline;
    }
}