.main {
    width: 23%;
    overflow: hidden;
    padding: 10px;
    border: 1px solid black;
    margin: 1%;
}

.img {
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
}

/* Media Queries */
@media (max-width: 991px) {
    .title {
        font-size: 0.5rem;
    }
}